{% extends "base.html" %}
{% block content %}
    <hr/>
    <div>
        <h2>New Transaction</h2>
        <div>
            <form action="/transactions/" method="POST">
                <input type="text" name="transaction_name" placeholder="Transaction Name...">
                <input type="number" step=".01" name="transaction_amount" placeholder="Transaction Amount...">
                <input type="date" name="transaction_date" placeholder="Transaction Date...">
                <button>Create</button>
            </form>
        </div>
    </div>    
    <hr/>
    <h2>Transaction List</h2>
    {% for transaction in page_data.transactions %}
        <a href="/transactions/{{ transaction.transaction_id }}/">{{ transaction.transaction_name }}</a><br/>
    {% endfor %}
    <hr/>
{% endblock %}