{% extends "base.html" %}
{% block content %}

    <h2>{{ page_data.transaction.transaction_name }}</h2>
    <p>Transaction ID: {{ page_data.transaction.transaction_id }}</p>
    <br>
    Creator: {{ page_data.transaction.creator.name }} ({{ page_data.transaction.creator.email }})
    {% for image_link in page_data.image_links %}
        <img src= "{{ image_link }}" style="width: 250px">
    {% endfor %}
    <br/><br/>
    <h3>Update Transaction Info</h3>
    <form action="/transactions/{{ page_data.transaction.transaction_id }}/update/" method="POST">
        <input type="text" name="transaction_name" placeholder="Transaction Name..."/> 
        <button>Update</button>
    </form>

    <br/><br/>

    <h3>Update Image:</h3>
    <form action="/transactions/{{ page_data.transaction.transaction_id }}/image/" method="POST" enctype = "multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>

    <br/><br/>
    
    <form action = "/transactions/{{ page_data.transaction.transaction_id }}/delete/", method="POST">
        <button>DELETE TRANSACTION</button>
    </form>

{% endblock %}
